#cv-form{
    padding: 0%;

}

#cv-template{
    display: none;
}

.myimg{
    border-radius: 50%;
    width: 200px;
}

.background{
    background-color: rgb(189, 186, 186);
}
.row{
  display:grid;
  grid-template-columns: 60% 40%;
}
.row{
  background-color: lightblue;
}
